html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  #canvas-container {
    width: 500px;
    height: 500px;
    float: left;
    background-color: #333;
  }
  
  #sketch-holder {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  
  #button {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }